a-scene{
    position: absolute !important;
    top: 0;
}
.galleryContainer{
    position: absolute;
    background: rgba(46, 46, 46, 0.53);
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 40%;
    text-align: center;
    left: 25%;
}

.gallery{
    display: inline-block;
    border: 2px solid #2e2e2e;
}

.gallery img-div{
    position: absolute;
    width: 100px;
    height: 60px;
}

.gallery img{
    width: 100px;
    height: 60px;
}

.gallery .img-div div{
  background: #eee;
    font-family: sans-serif;
    color: #2e2e2e;
    font-size: 15px;
}